.custom-filter-chips {
  display: inline-flex !important;
  gap: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  .yt-chip-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: inherit;
    font-size: 14.3px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 12px;
    height: 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
  }
}

// light mode styles:
.theme-light {
  .yt-chip-btn {
    color: #0f0f0f;
    background-color: rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .yt-chip-active {
    color: #ffffff !important;
    background-color: #0f0f0f !important;

    &:hover {
      background-color: #0f0f0f !important;
      opacity: 0.9;
    }
  }
}

// dark mode styles:
.theme-dark {
  .yt-chip-btn {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .yt-chip-active {
    color: #0f0f0f !important;
    background-color: #ffffff !important;

    &:hover {
      background-color: #ffffff !important;
      opacity: 0.9;
    }
  }
}

// hide shorts section:
ytd-browse[page-subtype="subscriptions"]
  ytd-rich-section-renderer[is-shorts].style-scope.ytd-rich-grid-renderer,
ytd-browse[page-subtype="subscriptions"]
  ytd-rich-section-renderer:has(#rich-shelf-header-container) {
  display: none !important;
}
