@use "styles/triggerButton";
@use "styles/filterTabs";

/* بيصَفّر المارجن من جهة البداية (الشمال في الإنجليزي، واليمين في العربي) */
// ytd-rich-item-renderer[data-day-first="true"] {
//   opacity: 0.25;
// }

// الكارت اللي بيبدأ يوم جديد وبنخليه يفرش السطر كله في الـ Flexbox

// نلغي الـ CSS القديم
ytd-rich-item-renderer[data-day-first="true"] {
  flex-basis: auto !important;
  -webkit-margin-start: auto !important;
  margin-inline-start: auto !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// الكود الجديد
ytd-rich-item-renderer[data-day-first="true"]::before {
  content: "";
  flex-basis: 100%;
  width: 0;
  height: 0;
}
